name: "business-manage-system project build"

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.6.0
        with:
          persist-credentials: false

      - name: setup node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18.12.1

      - name: update project version
        run: |
          
          git config --global user.email "imchrisorz@gmail.com"
          git config --global user.name "github-actions[bot]"
          
          # 在npm version patch 会依赖git操作，需要这之前把git设置好,不然会报错
          npm version patch
          ver=$(cat ./package.json | grep -e '"version":' | tr -cd "[0-9].")
          echo "project_version=$ver" >> $GITHUB_ENV

      - name: commit and push
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: "chore(ci/cd): 自动化构建,当前项目版本: ${{ env.project_version }}"
          amend: true

      - name: login to docker-hub
        uses: docker/login-action@v2
        with:
          username: imchrisorz
          password: ${{ secrets.DOCKER_SECRET }}

      - name: build docker image and push
        run: |
          bash ./scripts/release.sh